=begin
#Document AI API

#Use next-generation AI to extract data, fields, insights and text from documents. Instantly.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDocumentaiApiClient
  class AnalyzeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Enforce Policies to a Document to allow or block it using Advanced AI
    # Enforce Policies to a Document to allow or block it using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentPolicyRequest] :body Input request, including document and policy rules
    # @return [DocumentPolicyResult]
    def apply_rules(opts = {})
      data, _status_code, _headers = apply_rules_with_http_info(opts)
      data
    end

    # Enforce Policies to a Document to allow or block it using Advanced AI
    # Enforce Policies to a Document to allow or block it using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentPolicyRequest] :body Input request, including document and policy rules
    # @return [Array<(DocumentPolicyResult, Fixnum, Hash)>] DocumentPolicyResult data, response status code and response headers
    def apply_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.apply_rules ...'
      end
      # resource path
      local_var_path = '/document-ai/document/analyze/enforce-policy'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentPolicyResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#apply_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
