=begin
#Document AI API

#Extract structured data including named fields, tables, barcodes, classifications, and summaries from common document formats, scanned documents, and photos of documents using AI.  Also supports handwriting and low quality photos and scans, as well as digital document input.  Supports a wide range of languages, and is able to analyze and infer semantic structure from the visual layout for documents.

OpenAPI spec version: v1
Contact: support@cloudmersive.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDocumentaiApiClient
  class AnalyzeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Answer Questions about a Document in a structured way using Advanced AI
    # Answer boolean (yes/no), multiple-choice and free-response questions about the contents of a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentQuestionsRequest] :body Input request, including document and questions
    # @return [DocumentQuestionAnswersResult]
    def answer_questions(opts = {})
      data, _status_code, _headers = answer_questions_with_http_info(opts)
      data
    end

    # Answer Questions about a Document in a structured way using Advanced AI
    # Answer boolean (yes/no), multiple-choice and free-response questions about the contents of a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentQuestionsRequest] :body Input request, including document and questions
    # @return [Array<(DocumentQuestionAnswersResult, Fixnum, Hash)>] DocumentQuestionAnswersResult data, response status code and response headers
    def answer_questions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.answer_questions ...'
      end
      # resource path
      local_var_path = '/document-ai/document/analyze/answer-questions'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentQuestionAnswersResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#answer_questions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Enforce Policies to a Document to allow or block it using Advanced AI
    # Enforce Policies to a Document to allow or block it using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentPolicyRequest] :body Input request, including document and policy rules
    # @return [DocumentPolicyResult]
    def apply_rules(opts = {})
      data, _status_code, _headers = apply_rules_with_http_info(opts)
      data
    end

    # Enforce Policies to a Document to allow or block it using Advanced AI
    # Enforce Policies to a Document to allow or block it using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Consumes 100 API calls per page.
    # @param [Hash] opts the optional parameters
    # @option opts [DocumentPolicyRequest] :body Input request, including document and policy rules
    # @return [Array<(DocumentPolicyResult, Fixnum, Hash)>] DocumentPolicyResult data, response status code and response headers
    def apply_rules_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AnalyzeApi.apply_rules ...'
      end
      # resource path
      local_var_path = '/document-ai/document/analyze/enforce-policy'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentPolicyResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AnalyzeApi#apply_rules\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
