=begin
#Document AI API

#Use next-generation AI to extract data, fields, insights and text from documents. Instantly.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDocumentaiApiClient
  class ExtractApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract All Fields and Tables of Data from a Document using AI
    # Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractFieldsAndTablesResponse]
    def extract_all_fields_and_tables(opts = {})
      data, _status_code, _headers = extract_all_fields_and_tables_with_http_info(opts)
      data
    end

    # Extract All Fields and Tables of Data from a Document using AI
    # Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractFieldsAndTablesResponse, Fixnum, Hash)>] ExtractFieldsAndTablesResponse data, response status code and response headers
    def extract_all_fields_and_tables_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_all_fields_and_tables ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractFieldsAndTablesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_all_fields_and_tables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Barcodes of from a Document using AI
    # Extract all barcodes from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractBarcodesAiResponse]
    def extract_barcodes(opts = {})
      data, _status_code, _headers = extract_barcodes_with_http_info(opts)
      data
    end

    # Extract Barcodes of from a Document using AI
    # Extract all barcodes from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractBarcodesAiResponse, Fixnum, Hash)>] ExtractBarcodesAiResponse data, response status code and response headers
    def extract_barcodes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_barcodes ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/barcodes'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractBarcodesAiResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_barcodes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Classification or Category from a Document using AI
    # Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Desired classification to extract
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [DocumentClassificationResult]
    def extract_classification(opts = {})
      data, _status_code, _headers = extract_classification_with_http_info(opts)
      data
    end

    # Extract Classification or Category from a Document using AI
    # Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Desired classification to extract
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(DocumentClassificationResult, Fixnum, Hash)>] DocumentClassificationResult data, response status code and response headers
    def extract_classification_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_classification ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/classify'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'Categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentClassificationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_classification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Classification or Category from a Document using Advanced AI
    # Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractClassificationRequest] :body Input request to perform the classification on
    # @return [DocumentAdvancedClassificationResult]
    def extract_classification_advanced(opts = {})
      data, _status_code, _headers = extract_classification_advanced_with_http_info(opts)
      data
    end

    # Extract Classification or Category from a Document using Advanced AI
    # Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractClassificationRequest] :body Input request to perform the classification on
    # @return [Array<(DocumentAdvancedClassificationResult, Fixnum, Hash)>] DocumentAdvancedClassificationResult data, response status code and response headers
    def extract_classification_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_classification_advanced ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/classify/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DocumentAdvancedClassificationResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_classification_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Field Values from a Document using AI
    # Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field_names Desired fields to extract, comma separated
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractFieldsResponse]
    def extract_fields(opts = {})
      data, _status_code, _headers = extract_fields_with_http_info(opts)
      data
    end

    # Extract Field Values from a Document using AI
    # Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :field_names Desired fields to extract, comma separated
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractFieldsResponse, Fixnum, Hash)>] ExtractFieldsResponse data, response status code and response headers
    def extract_fields_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_fields ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/fields'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'FieldNames'] = opts[:'field_names'] if !opts[:'field_names'].nil?
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractFieldsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_fields\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Field Values from a Document using Advanced AI
    # Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractFieldsRequest] :body Input request, including document file as byte array, and information on which fields to extract
    # @return [ExtractFieldsResponse]
    def extract_fields_advanced(opts = {})
      data, _status_code, _headers = extract_fields_advanced_with_http_info(opts)
      data
    end

    # Extract Field Values from a Document using Advanced AI
    # Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractFieldsRequest] :body Input request, including document file as byte array, and information on which fields to extract
    # @return [Array<(ExtractFieldsResponse, Fixnum, Hash)>] ExtractFieldsResponse data, response status code and response headers
    def extract_fields_advanced_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_fields_advanced ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/fields/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractFieldsResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_fields_advanced\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Summary from a Document using AI
    # Creates a 1 paragraph summary of the input document using Artificial Intelligence.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [SummarizeDocumentResponse]
    def extract_summary(opts = {})
      data, _status_code, _headers = extract_summary_with_http_info(opts)
      data
    end

    # Extract Summary from a Document using AI
    # Creates a 1 paragraph summary of the input document using Artificial Intelligence.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(SummarizeDocumentResponse, Fixnum, Hash)>] SummarizeDocumentResponse data, response status code and response headers
    def extract_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_summary ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/summary'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'SummarizeDocumentResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Tables of Data from a Document using AI
    # Extract Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractTablesResponse]
    def extract_tables(opts = {})
      data, _status_code, _headers = extract_tables_with_http_info(opts)
      data
    end

    # Extract Tables of Data from a Document using AI
    # Extract Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractTablesResponse, Fixnum, Hash)>] ExtractTablesResponse data, response status code and response headers
    def extract_tables_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_tables ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/tables'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractTablesResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_tables\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Text from a Document using AI
    # Extract raw text from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Supports a wide range of languages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractTextResponse]
    def extract_text(opts = {})
      data, _status_code, _headers = extract_text_with_http_info(opts)
      data
    end

    # Extract Text from a Document using AI
    # Extract raw text from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.  Supports a wide range of languages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractTextResponse, Fixnum, Hash)>] ExtractTextResponse data, response status code and response headers
    def extract_text_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ExtractApi.extract_text ...'
      end
      # resource path
      local_var_path = '/document-ai/document/extract/text'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractTextResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ExtractApi#extract_text\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
