=begin
#Document AI API

#Use next-generation AI to extract data, fields, insights and text from documents. Instantly.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersiveDocumentaiApiClient
  class RunBatchJobApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract All Fields and Tables of Data from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractDocumentBatchJobResult]
    def extract_all_fields_and_tables_from_document_batch_job(opts = {})
      data, _status_code, _headers = extract_all_fields_and_tables_from_document_batch_job_with_http_info(opts)
      data
    end

    # Extract All Fields and Tables of Data from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract all Fields and Tables, comprised of rows and columns of data, from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractDocumentBatchJobResult, Fixnum, Hash)>] ExtractDocumentBatchJobResult data, response status code and response headers
    def extract_all_fields_and_tables_from_document_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunBatchJobApi.extract_all_fields_and_tables_from_document_batch_job ...'
      end
      # resource path
      local_var_path = '/document-ai/document/batch-job/extract/all'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractDocumentBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunBatchJobApi#extract_all_fields_and_tables_from_document_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Classification or Category from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Desired classification to extract
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractDocumentBatchJobResult]
    def extract_classification_from_document_batch_job(opts = {})
      data, _status_code, _headers = extract_classification_from_document_batch_job_with_http_info(opts)
      data
    end

    # Extract Classification or Category from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract Classification or Category (e.g. Invoice, Receipt, Tax Form, or Form 1040, Form 1040 EZ, etc.) from a document using AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :categories Desired classification to extract
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractDocumentBatchJobResult, Fixnum, Hash)>] ExtractDocumentBatchJobResult data, response status code and response headers
    def extract_classification_from_document_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunBatchJobApi.extract_classification_from_document_batch_job ...'
      end
      # resource path
      local_var_path = '/document-ai/document/batch-job/extract/classify'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'Categories'] = opts[:'categories'] if !opts[:'categories'].nil?
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractDocumentBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunBatchJobApi#extract_classification_from_document_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Field Values from a Document using Advanced AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractFieldsRequest] :body 
    # @return [ExtractDocumentBatchJobResult]
    def extract_fields_from_document_advanced_batch_job(opts = {})
      data, _status_code, _headers = extract_fields_from_document_advanced_batch_job_with_http_info(opts)
      data
    end

    # Extract Field Values from a Document using Advanced AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Extract Field Values (e.g. Invoice Number, Invoice Date, Business Card Phone Number, etc.) from a document using Advanced AI.  Input document formats supported include DOCX, PDF, PNG and JPG.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [AdvancedExtractFieldsRequest] :body 
    # @return [Array<(ExtractDocumentBatchJobResult, Fixnum, Hash)>] ExtractDocumentBatchJobResult data, response status code and response headers
    def extract_fields_from_document_advanced_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunBatchJobApi.extract_fields_from_document_advanced_batch_job ...'
      end
      # resource path
      local_var_path = '/document-ai/document/batch-job/extract/fields/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractDocumentBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunBatchJobApi#extract_fields_from_document_advanced_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Extract Text from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Input document formats supported include DOCX, PDF, PNG and JPG.  Supports a wide range of languages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [ExtractDocumentBatchJobResult]
    def extract_text_from_document_batch_job(opts = {})
      data, _status_code, _headers = extract_text_from_document_batch_job_with_http_info(opts)
      data
    end

    # Extract Text from a Document using AI as a Batch Job
    # Creates an async batch job for processing a large document as an AI batch job.  Input document formats supported include DOCX, PDF, PNG and JPG.  Supports a wide range of languages.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :recognition_mode Optional; Recognition mode - Advanced (default) provides the highest accuracy but slower speed, while Normal provides faster response but lower accuracy for low quality images
    # @option opts [File] :input_file Input document, or photos of a document, to extract data from
    # @return [Array<(ExtractDocumentBatchJobResult, Fixnum, Hash)>] ExtractDocumentBatchJobResult data, response status code and response headers
    def extract_text_from_document_batch_job_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunBatchJobApi.extract_text_from_document_batch_job ...'
      end
      # resource path
      local_var_path = '/document-ai/document/batch-job/extract/text'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'recognitionMode'] = opts[:'recognition_mode'] if !opts[:'recognition_mode'].nil?

      # form parameters
      form_params = {}
      form_params['InputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractDocumentBatchJobResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunBatchJobApi#extract_text_from_document_batch_job\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get the status and result of an Extract Document Batch Job
    # Returns the result of the Async Job - possible states can be STARTED or COMPLETED.  This API is only available for Cloudmersive Managed Instance and Private Cloud deployments.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :async_job_id 
    # @return [ExtractDocumentJobStatusResult]
    def get_async_job_status(opts = {})
      data, _status_code, _headers = get_async_job_status_with_http_info(opts)
      data
    end

    # Get the status and result of an Extract Document Batch Job
    # Returns the result of the Async Job - possible states can be STARTED or COMPLETED.  This API is only available for Cloudmersive Managed Instance and Private Cloud deployments.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :async_job_id 
    # @return [Array<(ExtractDocumentJobStatusResult, Fixnum, Hash)>] ExtractDocumentJobStatusResult data, response status code and response headers
    def get_async_job_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RunBatchJobApi.get_async_job_status ...'
      end
      # resource path
      local_var_path = '/document-ai/document/batch-job/batch-job/status'

      # query parameters
      query_params = {}
      query_params[:'AsyncJobID'] = opts[:'async_job_id'] if !opts[:'async_job_id'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ExtractDocumentJobStatusResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RunBatchJobApi#get_async_job_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
